.quote-list-item .content-list-item__row {
  column-gap: 10px;
}

.content-list-cards .quote-row-first {
  grid-template-columns: 40px 1.1fr 1.1fr 0.7fr 1.1fr;
}

.quote-list-item .quote-row-second {
  grid-template-columns: 40px 1.1fr 1.8fr 1.1fr;
}

.quote-list-item .repairs-amount {
  font-family: 'Poppins', sans-serif;
  font-size: 14px;
  color: var(--gray);
}

.quote-list-item .sponsored {
  color: #ff827a;
  margin-top: 10px;
  letter-spacing: 1px;
  font-size: 10px;
  font-weight: bold;
  text-transform: uppercase;
}

.quote-list-item .content-list-item__row {
  margin-bottom: 30px;
}

.quote-list-item .quote-text {
  font-size: 13px;
  line-height: 22px;
  color: var(--gray);
}

.pseudo-link {
  color: var(--blue);
}

.quote-list-item details[open] > summary {
  display: none;
}

.quote-list-item .repair-shop-name {
  margin-top: -1px;
}

.quote-list-item .rating {
  margin-top: 2px;
}
