.video-container {
  position: relative;
  opacity: 0;
  transition: opacity 0.6s ease-in;
}

.video-container.loaded {
  opacity: 1;
}

.video-placeholder {
  background-image: url("/img/video-placeholder.jpg");
  background-size: cover;
  background-position: top center;
  z-index: 1;
  color: white;
}

.video-placeholder .narrow-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 100%;
}

.video-placeholder p,
.video-placeholder h1 {
  color: white;
}

.video-placeholder h1 {
  margin-top: auto;
}

.video-placeholder p {
  margin: 0 0 30px;
}

.close-video-button {
  position: absolute;
  padding: 5px;
  width: 32px;
  height: 32px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  top: -35px;
  right: -35px;
  transform: rotate(45deg) scale(1.5);
  transition: opacity 0.4s;
  opacity: 0.75;
  cursor: pointer;
  background-color: white;
  border-radius: 50%;
}

.close-video-button:hover {
  opacity: 1;
}

.play-video-button {
  width: 145px;
  height: 50px;
  padding: 12px 13px;
  margin-bottom: 115px;
}

.play-video-button svg {
  margin-right: 10px;
}
